{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Administraci&oacute;n Trocaire' %}{% endblock %}

{% block extrastyle %}
<link rel="icon" href="/files/img/favicon.ico" type="image/x-icon">
{% endblock %}

{% block extrahead %}
<link type="text/css" rel="stylesheet"  href="/files/css/custom_admin.css" >
{% endblock %}
{% block branding %}
<div class="degradado"></div>
<div class="aux1">
    <h1>Administraci&oacute;n <img src="/files/img/trocaire-logo.png" alt="logo"></h1>
</div>
{% endblock %}
{% block userlinks %}
<a href="/"><img src="/files/img/home.png" alt="home"> Portada</a> / 
{% url django-admindocs-docroot as docsroot %}
{% if docsroot %}
<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
{% endif %}
{% url admin:password_change as password_change_url %}
{% if password_change_url %}
<a href="{{ password_change_url }}">
    {% else %}
    <a href="{{ root_path }}password_change/">
        {% endif %}
        {% trans 'Change password' %}</a> /
    {% url admin:logout as logout_url %}
    {% if logout_url %}
    <a href="{{ logout_url }}">
        {% else %}
        <a href="{{ root_path }}logout/">
            {% endif %}
            {% trans 'Log out' %}</a>
{% endblock %}
{% block nav-global %}{% endblock %}

