{% extends "base.html" %}

{% block extratitle %}{{titulo}}{% endblock %}

{% block extrahead %}
{% if not nografo %}
<script type="text/javascript" src="/files/js/highcharts.js"></script>
<script type="text/javascript" src="/files/js/exporting.js"></script>
<script type="text/javascript">    
    var plotOptions = {
        column: {
            groupPadding: 0,
            pointPadding: 0.9,
            borderWidth: 0
        },
        series: {
            pointWidth: 25,
            minPointLength : 0.5,
	    dataLabels: {
                enabled: true,
                align: "center",
                formatter: function() {
                    return ''+ this.y + ' %';
                },
                color: '#000',
                style: {
                    font: '12px Trebuchet MS, Verdana, sans-serif'
                }
            }
        }
    }
    var tooltip = {
        formatter: function() {
            return ''+
                this.series.name +': '+ this.y +'%';
        }
    }
    var leyenda = {
        layout: 'horizontal',
        align: 'center',
        verticalAlign: 'bottom',
        shadow: true
    }
    var chart;
    $(document).ready(function() {
        $('.grafos').click(function(){
            var id = $(this).attr('id');
            var series;
            var titulo;
            if(id=='m10_13'){
                titulo = '{{totales.0}} Mujeres';
                series = [{% for key, value in tabla.items %}{% if value.0.1 != 0 %}{name: '{{key}}',data: [{{value.0.1}}]}, {% endif %}{% endfor %}]
            }else if(id=='m14_18'){
                titulo = '{{totales.1}} Hombres';
                series = [{% for key, value in tabla.items %}{% if value.1.1 != 0 %}{name: '{{key}}',data: [{{value.1.1}}]}, {% endif %}{% endfor %}]
            }
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'container',
                    defaultSeriesType: 'column',
                    height: 480,
                    width: 960
                },
                title: {
                    text: '{{titulo}}'
                },
                subtitle: {
                    text: titulo
                },
                xAxis: {
                    categories: [
                        'Opciones'
                    ]
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Porcentajes'
                    }
                },
                legend: leyenda,
                tooltip: tooltip,
                plotOptions: plotOptions,
                series: series
            });            
            return false;
        });
    });
</script>
{% endif %}
{% endblock %}

{% block contenido %}
{% include "cambiar_instrumento.html" %}
<div class="title_bar">
    <div class="titulo">{% if tipo %}{{tipo|title}}{% else %}L&iacute;deres{% endif %} | {{titulo}}</div>
    <div class="titulo der"><a href="/monitoreo/{% if tipo %}{{tipo}}{% else %}lideres{% endif %}/">&larr; Volver</a></div>
</div>
<div class="contraparts">
	{% include "filtros_seleccionados.html" %}
    {% if not nografo %}
    <div id= "grafosmujer" class="barra">
        <a href="#" id="m10_13" class="grafos">Gr&aacute;fico Mujeres</a>
    </div>
    <div id= "grafoshombre" class="barra">
        <a href="#" id="m14_18" class="grafos">Gr&aacute;fico Hombres</a>
    </div>
    <div class="clean"></div>
    <div id="container"></div>
    {% endif %}
</div><br>
<div>
    <table class="tabla-resultados">
        <caption>TOTALES</caption>
        <thead>
            <tr>
                <th rowspan="2">Categorias</th>
                <th>Mujeres</th>
                <th>Hombres</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>TOTAL ENCUESTADOS</td>
                <td>{{totales.0}}</td>
                <td>{{totales.1}}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <table class="tabla-resultados">
        <caption>{{titulo}}:</caption>
        <thead>
            <tr>
                <th >Resultado</th>
                <th >Mujeres</th>
                <th >Hombres</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in tabla.items %}
            {% comment %}{% if not value.0.0 == 0 and not value.1.0 == 0 %}{% endcomment %}
            <tr>
                <td>{{key}}</td>
                {% for valor in value %}
                <td>{{valor.0}} ({{valor.1}} %)</td>
                {% endfor %}
            </tr>            
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
