{% extends "base.html" %}

{% block extratitle %}Acciones prohibidas por la ley{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="/files/js/highcharts.js"></script>
<script type="text/javascript" src="/files/js/exporting.js"></script>
<script type="text/javascript">
    var plotOptions = {
        column: {
            stacking: 'normal'
        },
        series: {
            dataLabels: {
                enabled: true,
                align: 'center',
                color: '#000',
                formatter: function() {
                    if(this.percentage.toFixed(1)!=0.00){
                        return this.percentage.toFixed(1);
                    }
                },
                style: {
                    font: '12px Trebuchet MS, Verdana, sans-serif'
                }
            }
        }
    }
    var tooltip = {
        formatter: function() {
            return '<b>'+ this.x +'</b><br/>'+
                this.series.name +': '+ this.y +'<br/>'+
                'Total: '+ this.point.stackTotal;
        }
    }
    var chart;
    $(document).ready(function(){
        $('.grafos').click(function(){
            var id = $(this).attr('id');
            var series;
            var titulo;
            if(id=='mujeres'){
                titulo = 'Mujeres';
                series = [{% for key, value in grafico.1.items %}{
                        name: "{% if key == 1 %}Si{% else %}{% if key == 2 %}No{% else %}{% if key == 3 %}No sabe{% else %}No responde{% endif %}{% endif %}{% endif %}",
                        data: {{value}}}, {% endfor %}]
            }else if(id=='hombres'){
                titulo = 'Hombres';
                series = [{% for key, value in grafico.2.items %}{
                        name: "{% if key == 1 %}Si{% else %}{% if key == 2 %}No{% else %}{% if key == 3 %}No sabe{% else %}No responde{% endif %}{% endif %}{% endif %}",
                        data: {{value}}}, {% endfor %}]
            }
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'container',
                    defaultSeriesType: 'column'
                },
                title: {
                    text: 'Conocimiento sobre acciones son prohibidas por la ley'
                },
                subtitle: {
                    text: titulo
                },
                xAxis: {
                    categories: [{% for key, value in tabla.items %}'{{key}}',{% endfor %}]
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Respuesta'
                    }
                },

                tooltip: tooltip,
                plotOptions: plotOptions,
                series: series
            });
            return false;
        });
    });
</script>
{% endblock %}

{% block contenido %}
<!-- BEGIN tabla de la MUERTE-->
{% include "cambiar_instrumento.html" %}
<div class="title_bar">
    <div class="titulo">Líderes | Acciones prohibidas por la ley?</div>
    <div class="titulo der"><a href="/monitoreo/lideres/">&larr; Volver</a></div>
</div>
<div class="contraparts">
    {% include "filtros_seleccionados.html" %}
    <div id= "grafosmujer" class="barra">
        <a href="#"  id="mujeres" class="grafos">Gráfico Mujeres</a>
    </div>
    <div id= "grafoshombre" class="barra">
        <a href="#" id="hombres" class="grafos">Gráfico Hombres</a>
    </div>    
    <div class="clean"></div>
    <br>
    <div id="container"></div>    
    <table class="tabla-resultados" style="width:100%;">
        <caption>TOTALES</caption>
        <thead>
            <tr>
                <th></th>
                <th>Mujeres</th>
                <th>Hombres</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>TOTALES ENCUESTADOS</td>
                <td>{{totales.0}}</td>
                <td>{{totales.1}}</td>
            </tr>
        </tbody>
    </table><br>
    <div class="tabla-container">
        <table class="tabla-resultados">
            <caption>Sabe usted cuales de las siguientes acciones son prohibidas por la ley</caption>
            <thead>
                <tr>
                    <th rowspan="2">Categorias</th>
                    <th colspan="4">Mujeres</th>
                    <th colspan="4">Hombres</th>
                </tr>
                <tr>
                    {% for grupo in tabla.items.0.1.items.0.1|slice:":2" %}
                    {% for k in SI_NO_RESPONDE %}
                    <th>{{k.1}}</th>
                    {% endfor %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for key, value in tabla.items %}
                <tr>
                    <td>{{key}}</td>
                    {% for k,v in value.items|slice:":3" %}
                    {% for valor in v %}
                    <td>{{valor.0}} ({{valor.1}}%)</td>
                    {% endfor %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!--FIN tabla de la MUERTE UNO-->
{% endblock %}
