<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Trocaire VBG | {% block extratitle %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
        <link type="text/css" rel="stylesheet"  href="/files/css/trocaire.css" >
        <link rel="icon" href="/files/img/favicon.ico" type="image/x-icon">
        <script type="text/javascript">
        	$(document).ready(function(){
        		$('.titulo.der a').click(function(){
        			javascript:history.go(-1);
        			return false;
        		});
        	});
        </script>
        {% block extrahead %}
        {% endblock %}
    </head>
    <body>
        <div class="degradado"></div>
        <div class="header">
            <div class="wrapper">
                <div class="logo">
                    <a href="/" title="Inicio"><img src="/files/img/trocaire-logo-front.png" alt="trocaire logo"></a>
                </div>
                <div class="nav">
                	<a href="/generales/" class="generales_sprite"></a>                    
                    <a href="/admin/" class="admin_sprite"></a>
                    {% if user.is_authenticated %}
                    <a href="/logout/" class="salir_sprite"></a>
                    {% endif %}
                </div>
                <div class="clean"></div>
            </div>            
        </div>
        {% block banner %}
		{% endblock %}
        <div class="content">
            <div class="wrapper">
                {% block contenido %}
                {% endblock %}
                <div class="clean"></div>
            </div>
        </div>
        <div class="footer">
            <div class="wrapper">
                Desarrollado por <a href="http://simas.org.ni">SIMAS</a> con <a href="http://djangoproject.com">Django</a> Framework
            </div>
        </div>
    </body>
</html>
