<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Programa contra Violencia Basada en G&eacute;nero | {% block extratitle %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link type="text/css" rel="stylesheet"  href="/files/css/trocaire.css" >
        <link rel="icon" href="/files/img/favicon.ico" type="image/x-icon">
        {% block extrahead %}
        {% endblock %}
    </head>
    <body>
        <div class="degradado"></div>
        <div class="header">
            <div class="wrapper">
                <div class="logo">
                    <a href="/" title="Inicio"><img src="/files/img/trocaire-logo-front.png" alt="trocaire logo"></a>
                </div>
                <div class="nav">
                    <a href="/admin/" class="admin_sprite"></a>
                    {% if user.is_authenticated %}
                    <a href="/logout/" class="salir_sprite"></a>
                    {% endif %}
                </div>
                <div class="clean"></div>
            </div>            
        </div>
        <div class="banner">
            <div class="wrapper">
                <div class="intro">
                    <div class="title">
                        Programa contra la Violencia basada en G&eacute;nero
                    </div><br>
                    <div class="desc">
                        Tortor integer sed in, enim ac pulvinar augue etiam scelerisque, lorem quis porta urna cum, in elit ut, nisi, elementum pid? Ut quis scelerisque? Integer. Platea tristique! In, pid eros! In, odio elementum pellentesque proin, parturient, dolor turpis mid eros, pulvinar lacus et quis amet est, dictumst integer. Dolor arcu, aliquet egestas sit ut ut facilisis, massa, augue porttitor egestas porta scelerisque magna. Scelerisque? Amet purus? Ac dignissim habitasse tincidunt augue, sed urna odio auctor sociis.
                    </div>
                </div>
                <div class="salidas">
                    <a href="#" class="mapeo"></a>
                    <a href="#" class="monitoreo"></a>
                    <a href="#" class="recursos"></a>
                </div>
                <div class="clean"></div>
            </div>
        </div>
        <div class="content">
            <div class="wrapper">
                {% block contenido %}
                {% endblock %}
                <div class="clean"></div>
            </div>
        </div>
        <div class="footer">
            <div class="wrapper">
                Desarrollado por <a href="http://simas.org.ni">SIMAS</a> con <a href="http://djangoproject.com">Django</a> Framework
            </div>
        </div>
    </body>
</html>
