<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <title>Sistema de Información Trocaire</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <style type="text/css">
            body{
                font-family: 'Trebuchet MS', sans-serif;
            }
            h3{
                font-size: 25px;
            }
            .start{
                color: blue;
                font-family: 'Trebuchet MS', sans-serif;
                font-size: 16px;
            }
        </style>
    </head>
    <body>
        <h3>Sistema de Informaci&oacute;n Trocaire</h3>
        <a class="start" href="/">Inicio</a>&nbsp;|&nbsp;<a class="start" href="/admin/">Administraci&oacute;n</a>
    </body>
</html>
