{% extends "base.html" %}
{% block extrahead %}
{% endblock %}

{% block contenido %}
<div class="title_bar">
    <a href="#" class="orglink"></a>
    <div class="clean"></div>
</div>
<div class="contraparts">
    <div class="logos">
        <img src="/files/img/android_logo.jpg" alt="logo" width="124" height="47" class="cp">
        <img src="/files/img/separador.png" alt="line" class="line">
        <img src="/files/img/android_logo.jpg" alt="logo" width="124" height="47" class="cp">
        <img src="/files/img/separador.png" alt="line" class="line">
        <img src="/files/img/android_logo.jpg" alt="logo" width="124" height="47" class="cp">
        <img src="/files/img/separador.png" alt="line" class="line">
        <img src="/files/img/android_logo.jpg" alt="logo" width="124" height="47" class="cp">
        <img src="/files/img/separador.png" alt="line" class="line">
        <img src="/files/img/android_logo.jpg" alt="logo" width="124" height="47" class="cp">
        <img src="/files/img/separador.png" alt="line" class="line">
        <img src="/files/img/android_logo.jpg" alt="logo" width="124" height="47" class="cp">
        <div class="clean"></div>
        <br>
        <img src="/files/img/sep_hor.png" alt="line">
        <br><br>
        <img src="/files/img/android_logo.jpg" alt="logo" width="124" height="47" class="cp">
        <img src="/files/img/separador.png" alt="line" class="line">
        <img src="/files/img/android_logo.jpg" alt="logo" width="124" height="47" class="cp">
        <img src="/files/img/separador.png" alt="line" class="line">
        <img src="/files/img/android_logo.jpg" alt="logo" width="124" height="47" class="cp">
        <img src="/files/img/separador.png" alt="line" class="line">
        <img src="/files/img/android_logo.jpg" alt="logo" width="124" height="47" class="cp">
        <img src="/files/img/separador.png" alt="line" class="line">
        <img src="/files/img/android_logo.jpg" alt="logo" width="124" height="47" class="cp">
        <img src="/files/img/separador.png" alt="line" class="line">
        <img src="/files/img/android_logo.jpg" alt="logo" width="124" height="47" class="cp">
        <div class="clean"></div>
        <br>
        <img src="/files/img/sep_hor.png" alt="line">
    </div>
</div>
{% endblock %}