{% extends "base.html" %}
{% block extratitle %}Home{% endblock %}

{% block banner %}
<div class="banner">
        <div class="wrapper">
                <div class="intro">
                    <div class="title">
                        Programa contra la Violencia basada en G&eacute;nero
                    </div><br>
                    <div class="desc">
                        Tortor integer sed in, enim ac pulvinar augue etiam scelerisque, lorem quis porta urna cum, in elit ut, nisi, elementum pid? Ut quis scelerisque? Integer. Platea tristique! In, pid eros! In, odio elementum pellentesque proin, parturient, dolor turpis mid eros, pulvinar lacus et quis amet est, dictumst integer. Dolor arcu, aliquet egestas sit ut ut facilisis, massa, augue porttitor egestas porta scelerisque magna. Scelerisque? Amet purus? Ac dignissim habitasse tincidunt augue, sed urna odio auctor sociis.
                    </div>
                </div>
                <div class="salidas">
                    <a href="#" class="mapeo"></a>
                    <a href="/monitoreo/consultar/" class="monitoreo"></a>
                    <a href="#" class="recursos"></a>
                </div>
                <div class="clean"></div>
        </div>
</div>
{% endblock %}

{% block contenido %}
<div class="title_bar">
    <a href="#" class="orglink"></a>
    <div class="clean"></div>
</div>
<div class="contraparts">
    <div class="logos">
        <img src="/files/img/android_logo.jpg" alt="logo" width="124" height="47" class="cp">
        <img src="/files/img/separador.png" alt="line" class="line">
        <img src="/files/img/android_logo.jpg" alt="logo" width="124" height="47" class="cp">
        <img src="/files/img/separador.png" alt="line" class="line">
        <img src="/files/img/android_logo.jpg" alt="logo" width="124" height="47" class="cp">
        <img src="/files/img/separador.png" alt="line" class="line">
        <img src="/files/img/android_logo.jpg" alt="logo" width="124" height="47" class="cp">
        <img src="/files/img/separador.png" alt="line" class="line">
        <img src="/files/img/android_logo.jpg" alt="logo" width="124" height="47" class="cp">
        <img src="/files/img/separador.png" alt="line" class="line">
        <img src="/files/img/android_logo.jpg" alt="logo" width="124" height="47" class="cp">
        <div class="clean"></div>
        <br>
        <img src="/files/img/sep_hor.png" alt="line">
        <br><br>
        <img src="/files/img/android_logo.jpg" alt="logo" width="124" height="47" class="cp">
        <img src="/files/img/separador.png" alt="line" class="line">
        <img src="/files/img/android_logo.jpg" alt="logo" width="124" height="47" class="cp">
        <img src="/files/img/separador.png" alt="line" class="line">
        <img src="/files/img/android_logo.jpg" alt="logo" width="124" height="47" class="cp">
        <img src="/files/img/separador.png" alt="line" class="line">
        <img src="/files/img/android_logo.jpg" alt="logo" width="124" height="47" class="cp">
        <img src="/files/img/separador.png" alt="line" class="line">
        <img src="/files/img/android_logo.jpg" alt="logo" width="124" height="47" class="cp">
        <img src="/files/img/separador.png" alt="line" class="line">
        <img src="/files/img/android_logo.jpg" alt="logo" width="124" height="47" class="cp">
        <div class="clean"></div>
        <br>
        <img src="/files/img/sep_hor.png" alt="line">
    </div>
</div>
{% endblock %}