#header{
    background: url(/files/img/back.png) repeat-x bottom !important;
    border-bottom: 1px #ccc solid;
    height: 60px;
    padding-top: 18px;
    /*padding-left: 10px;*/
}
#header a{
    color: #000 !important;
}
#header h1{
    color: #025a8b;
}
#user-tools{
    margin-top: 5px;
    color: #025a8b;
}
.degradado {
    height: 8px;
    width: 100%;
    background: url(/files/img/degradado.png) repeat-x;
    float: left;
    margin-top: -26px;
    
}
.section{
    color: #025a8b !important;
}
.breadcrumbs{
    padding-left: 15px !important;
}

.aux1{
    margin-left: 10px;
}