.inline-group .aligned label{
    width: 200px !important;
}
.naranja{
    color: orangered;
}
#encuesta-expresionvbg-content_type-object_id-group label, #encuesta-creencia-content_type-object_id-group label,
#encuesta-justificacionvbg-content_type-object_id-group label, #encuesta-causavbg-content_type-object_id-group label{
    width: 350px !important;
}