body{
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", sans-serif;
    margin-bottom: 20px;
}
.degradado { 
    height: 8px;
    width: 100%;
    background: url(/files/img/degradado.png) repeat-x;
}
.header{
    width: 100%;
    background: url(/files/img/back.jpg) repeat-x;
    height: 70px;
    border-bottom: 1px #fff solid;
}
.wrapper{
    width: 960px;
    margin: 0 auto;
    /*border: 1px solid;*/
}
.clean{
    clear: both;
}
img{
    border: none;
}
a{
    outline: none;
}
.logo{
    float: left;
    margin-left: 5px;
    margin-top: 10px;
}
.nav{
    float: right;
    margin-right: 30px;
    margin-top: 20px;
}
.admin_sprite{
    background: url(/files/img/admin_sprite.png) no-repeat;
    display: inline-block;
    width: 99px;
    height: 28px;
}
.admin_sprite:hover{
    background-position: 0 -28px;
}
.salir_sprite{
    background: url(/files/img/salir_sprite.png) no-repeat;
    display: inline-block;
    width: 70px;
    height: 28px;
}
.salir_sprite:hover{
    background-position: 0 -28px;
}
.banner{
    background: url(/files/img/banner.png) repeat-x;
    height: 286px;    
}
.intro{
    width: 320px;
    float: left;
    padding-top: 25px;
    height: 261px;
    font-size: 12px;        
}
.intro .title{    
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    padding-left: 5px;
}
.intro .desc{
    color: #000;
    text-align: justify;
    padding-left: 5px;
    font-size: 12px;
}
.salidas{
    float: left;
    width: 600px;
    margin-top: 15px;
    padding-left: 40px;
}
.salidas a{
    display: inline-block;
    height: 246px;
    width: 185px;
    margin-left: 10px;
}
.mapeo{    
    background: url(/files/img/mapeo.png) no-repeat;
    -moz-box-shadow: 0px 2px 7px #9e7707;
    -webkit-box-shadow: 0px 2px 7px #9e7707;
}
.salidas a:hover{
    -moz-box-shadow: 0px 2px 7px #000;
    -webkit-box-shadow: 0px 2px 7px #000;
}
.monitoreo{    
    background: url(/files/img/monitoreo.png) no-repeat;
    -moz-box-shadow: 0px 2px 7px #942406;
    -webkit-box-shadow: 0px 2px 7px #942406;
}
.recursos{    
    background: url(/files/img/recursos.png) no-repeat;
    -moz-box-shadow: 0px 2px 7px #4e0726;
    -webkit-box-shadow: 0px 2px 7px #4e0726;
}
.title_bar{
    height: 46px;
    background: url(/files/img/title_bar.png) repeat-x;    
}
.content .wrapper{
    border-left: 1px #d7d7d7 solid;
    border-right: 1px #d7d7d7 solid;
    border-bottom: 1px #d7d7d7 solid;
}
.orglink{
    display: block;
    float: left;
    background: url(/files/img/orgs.png) no-repeat;
    height: 35px;
    width: 192px;
    margin-top: 5px;
    margin-left: 10px;
}
.orglink:hover{
    background-position: 0px -35px;
}
.contraparts{
    background: url(/files/img/contraparts.png) repeat-x top;
}
.logos{
    margin-left: 20px;    
    margin-right: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.logos img.cp{
    float: left;
    margin-right: 12px;
    margin-left: 12px;
}
.logos img.line{
    float: left;    
}
.footer{
    text-align: center;
    font-size: 11px;
    color: #3f3f3f;
    padding-top: 8px;
	padding-bottom: 30px;
    background: url(/files/img/footer_back.png) no-repeat center -70px;
}
.footer a{
    font-weight: bold;
    text-decoration: none;
    color: #3f3f3f;
}
.tabla-resultados caption{
    font-size: 14px;
    background-color: #e1e1e1;
    text-align: left;
    padding-left: 15px;
    color: #069;
    height: 20px;
    line-height: 20px;
}
.tabla-resultados th{
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    /*font: bold 12px/25px ;*/
    font-size: 12px;
    background: url(/files/img/table_container_back_th.png) repeat;
    border-right: 1px solid #ded3ba;
    border-bottom: 1px solid #ded3ba;
    vertical-align:middle;
    padding: 3px 5px;
}

.tabla-resultados td {
    font: normal 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    border-right: 1px solid #E0DDD2;
    border-bottom: 1px solid #E0DDD2;
    padding: 6px 20px 6px 12px;
    color: #696969;
    background: #FFFFFF;
}
.tabla-resultados td a{
    color: #069;
}
.tabla-resultados td a:visited{
    color: #003956;
}

/*Css agregado por Byron */

.der{float:right;}
.izq{float:left;}

.titulo{
    border:#ececec 1px solid;
    padding:4px 10px 4px 10px;
    float:left;
    background:#fff;
    color:#a91051;
    font-weight:bold;
    font-size:17px;

    margin:5px;
    border-radius: 20px;
    -webkit-border-radius: 20x ;
    -moz-border-radius: 20px ;
}

.marco-interior{padding:15px;}

#id_year, #id_iglesia, #id_nivel_educativo{
    background:#d8e2e6;
    border-top:#fff 1px solid;
    border-left:#fff 1px solid;
    border-right:#90aab6 1px solid;
    border-bottom:#90aab6 1px solid;
    width:100%;
    height:30px;
}

label #id_year{
    font-size:12px;
}

.formseccion{
    background:url(/files/img/degradadoazul.png) repeat-x;
    height:24px;
    color:#fff;
    padding-left:8px;
    font-size:14px !important;
    width:450px;
    margin-left:10px;
}

#tabla-form table{
    margin-left:15px;
    font-size:12px;
 table-layout:fixed;
}


#consultar{
    background:url(/files/img/consultar.png);
    width:165px;
    height:34px;
    border:0;
    margin-left:15px;
}

#menufiltros{
    background:#eef7f7;
    height:80px;
    width:100%;
}

#menufiltros img{ margin:10px;}

#menu-indicadores ul{
    width:400px;
    float: left;
    font-size:13px;
    list-display:none;
}

#menu-indicadores ul span{
    font-size:14px;
    font-weight:bold;
}

#menu-indicadores ul li{
    border: #000 1px solid;
    background:grey;
    margin:5px;
}

#menu-indicadores ul a{
    display:block;
    float:left;
    margin:5px;
    background:#eef7f7;
    width:100%;
    text-decoration:none;
    color:#397da4;
    padding:5px;
    border:#cae4f2 1px dashed;
}

#menu-indicadores ul a:hover{
    background:#d4ebeb;

}



