body{
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", sans-serif;
    margin-bottom: 20px;
}

.centrado{
    margin: 0 auto;
    padding: 0;
}

.degradado {
    height: 8px;
    width: 100%;
    background: url(/files/img/degradado.png) repeat-x;
}
.header{
    width: 100%;
    background: url(/files/img/back.jpg) repeat-x;
    height: 70px;
    border-bottom: 1px #fff solid;
}
.wrapper{
    width: 960px;
    margin: 0 auto;
    /*border: 1px solid;*/
}
.clean{
    clear: both;
}
img{
    border: none;
}
a{
    outline: none;
}
.logo{
    float: left;
    margin-left: 5px;
    margin-top: 10px;
}
.nav{
    float: right;
    margin-right: 30px;
    margin-top: 20px;
}
.admin_sprite{
    background: url(/files/img/admin_sprite.png) no-repeat;
    display: inline-block;
    width: 99px;
    height: 28px;
}
.admin_sprite:hover{
    background-position: 0 -28px;
}
.salir_sprite{
    background: url(/files/img/salir_sprite.png) no-repeat;
    display: inline-block;
    width: 70px;
    height: 28px;
}
.salir_sprite:hover{
    background-position: 0 -28px;
}
.mh_sprite{
    background: url(/files/img/mh_sprite.png) no-repeat;
    display: inline-block;
    width: 140px;
    height: 28px;
}
.mh_sprite:hover{
    background-position: 0 -28px;
}
.lider_sprite{
    background: url(/files/img/lider_sprite.png) no-repeat;
    display: inline-block;
    width: 75px;
    height: 28px;
}
.lider_sprite:hover{
    background-position: 0 -28px;
}
.func_sprite{
    background: url(/files/img/func_sprite.png) no-repeat;
    display: inline-block;
    width: 106px;
    height: 28px;
}
.func_sprite:hover{
    background-position: 0 -28px;
}
.filtro_sprite{
    background: url(/files/img/filtro_sprite.png) no-repeat;
    display: inline-block;
    width: 92px;
    height: 28px;
}
.filtro_sprite:hover{
    background-position: 0 -28px;
}
.banner{
    background: url(/files/img/banner.png) repeat-x;
    height: 286px;
}

.filtros-seleccionados{
    border: #cae4f2 1px solid;
    background:#eef7f7;
}
.filtro{
    font-size:12px;
    color:#4e4e4e;
    float:left;
    margin:4px 10px 4px 10px;
}

.intro{
    width: 320px;
    float: left;
    padding-top: 25px;
    height: 261px;
    font-size: 12px;
}
.intro .title{
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    padding-left: 5px;
}
.intro .desc{
    color: #000;
    text-align: justify;
    padding-left: 5px;
    font-size: 12px;
}
.salidas{
    float: left;
    width: 600px;
    margin-top: 15px;
    padding-left: 40px;
}
.salidas a{
    display: inline-block;
    height: 246px;
    width: 185px;
    margin-left: 10px;
}
.mapeo{
    background: url(/files/img/mapeo.png) no-repeat;
    -moz-box-shadow: 0px 2px 7px #9e7707;
    -webkit-box-shadow: 0px 2px 7px #9e7707;
}
.salidas a:hover{
    -moz-box-shadow: 0px 2px 7px #000;
    -webkit-box-shadow: 0px 2px 7px #000;
}
.monitoreo{
    background: url(/files/img/monitoreo.png) no-repeat;
    -moz-box-shadow: 0px 2px 7px #942406;
    -webkit-box-shadow: 0px 2px 7px #942406;
}
.recursos{
    background: url(/files/img/recursos.png) no-repeat;
    -moz-box-shadow: 0px 2px 7px #4e0726;
    -webkit-box-shadow: 0px 2px 7px #4e0726;
}
.title_bar{
    height: 46px;
    background: url(/files/img/title_bar.png) repeat-x;
}
.content .wrapper{
    border-left: 1px #d7d7d7 solid;
    border-right: 1px #d7d7d7 solid;
    border-bottom: 1px #d7d7d7 solid;
}
.orglink{
    display: block;
    float: left;
    background: url(/files/img/orgs.png) no-repeat;
    height: 35px;
    width: 192px;
    margin-top: 5px;
    margin-left: 10px;
}
.orglink:hover{
    background-position: 0px -35px;
}
.contraparts{
    background: url(/files/img/contraparts.png) repeat-x top;
}
.logos{
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.logos img.cp{
    float: left;
    margin-right: 12px;
    margin-left: 12px;
}
.logos img.line{
    float: left;
}
.footer{
    text-align: center;
    font-size: 11px;
    color: #3f3f3f;
    padding-top: 8px;
    padding-bottom: 30px;
    background: url(/files/img/footer_back.png) no-repeat center -70px;
}
.footer a{
    font-weight: bold;
    text-decoration: none;
    color: #3f3f3f;
}
.tabla-resultados{
    width: 100%;
}
.tabla-resultados caption{
    font-size: 14px;
    background-color: #e1e1e1;
    text-align: left;
    padding-left: 15px;
    color: #069;
    height: 20px;
    line-height: 20px;
}
.tabla-resultados th{
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    /*font: bold 12px/25px ;*/
    font-size: 12px;
    background: url(/files/img/table_container_back_th.png) repeat;
    border-right: 1px solid #ded3ba;
    border-bottom: 1px solid #ded3ba;
    vertical-align:middle;
    padding: 3px 5px;
}

.tabla-resultados td {
    font: normal 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    border-right: 1px solid #E0DDD2;
    border-bottom: 1px solid #E0DDD2;
    padding: 6px 20px 6px 12px;
    color: #696969;
    background: #FFFFFF;
}
.tabla-resultados td a{
    color: #069;
}
.tabla-resultados td a:visited{
    color: #003956;
}

/*Css agregado por Byron */

.der{float:right;}
.izq{float:left;}

.titulo{
    border:#ececec 1px solid;
    padding:4px 10px 4px 10px;
    float:left;
    background:#fff;
    color:#a91051;
    font-weight:bold;
    font-size:17px;
    margin:5px;
    border-radius: 20px;
    -webkit-border-radius: 20x ;
    -moz-border-radius: 20px ;
}

.titulo a,
.titulo a:visited{
    color:#4086ad;
    text-decoration:none;
}

.titulo a:hover{
    color:#306480;
}

.marco-interior{padding:15px;}

#id_year, #id_iglesia, #id_nivel_educativo{
    background:#d8e2e6;
    border-top:#fff 1px solid;
    border-left:#fff 1px solid;
    border-right:#90aab6 1px solid;
    border-bottom:#90aab6 1px solid;
    width:100%;
    height:30px;
}

label #id_year{
    font-size:12px;
}

.formseccion{
    background:url(/files/img/degradadoazul.png) repeat-x;
    height:24px;
    color:#fff;
    padding-left:8px;
    font-size:14px !important;
    width:450px;
    margin-left:10px;
}

#tabla-form table{
    margin-left:15px;
    font-size:12px;
 	table-layout:fixed;
}

.introform{
    font-size:12px;
    padding:5px 15px 5px 15px;
}
.formblock{
    width:480px;
    float:left;
}

.paso{
    font-size:30px;
    color:#979b91;
    font-weight:bold;
    font-family:Arial;
    padding-left:15px;
    padding-top:12px;
    background:url(/files/img/pasoform.png) repeat-x;
    height:60px;
}

.pasoespecial{
    background:url(/files/img/pasoform2.png) repeat-x !important;
    width:927px !important;
    margin:0px 10px 0px 10px;
}

small{
    font-size:10px;
    font-weigth:bold;
    font-family:Arial;
}
.consultar{
    background:url(/files/img/consultar.png);
    width:165px;
    height:34px;
    border:0;
    margin-left:15px;
}
.avanzada{
	background:url(/files/img/consultaavanzada.png);
}
#menufiltros{
    background:#eef7f7;
    width:100%;
}

#menufiltros a{
    display:block;
    width:398px;
    height:54px;
    float:left;
    background-position:top;
    margin:0px 0px 5px 15px;
}

#menufiltros a:hover{
    background-position:bottom;
}


#funcionarios-link{
    background:url(/files/img/funcionarios.jpg) no-repeat;
}

#lideres-link{
    background:url(/files/img/lideres.jpg) no-repeat;
}

#hombres-link{
    background:url(/files/img/hombres.jpg) no-repeat;
}

#mujeres-link{
    background:url(/files/img/mujeres.jpg) no-repeat;
}
#proposito-link{
	background: url(/files/img/propositobarra.png);
}
#fin-link{
	background: url(/files/img/finbarra.png);
}
#organizaciones-link{
    background:url(/files/img/organizacion.jpg) no-repeat;
}

#panel-variable-header{
    background:url(/files/img/fondoheaderfiltros.png) no-repeat;
    width:942px;
    height:141px;
    margin:0px 10px;
}

#panel-variable-links{
    background:url(/files/img/fondolinksfiltros.png) repeat-y;
    width:942px;
    margin:0px 10px;
   /* border-bottom:#bfb9a2 1px solid;*/
}

.variable-header{
    width:170px;
    float:left;
    font-size:12px;
    font-weight:bold;
    margin:10px;
    color:#494941;
    line-height:1.3;
    padding-top:9px;
}

.variable-links{
    width:170px;
    float:left;
    font-size:12px;
    font-weight:bold;
    margin:10px;
    color:#494941;
    line-height:1.3;
    padding-top:9px;
}

.variable-links a{
    display: block;
    width:166px;
    height:33px;
    font-size:12px;
    color:#fff;
    text-decoration:none;
    padding-top:34px;
    border-top:1px solid #fff;
    -moz-box-shadow: 0px -2px 7px #d4cbb9;
    -webkit-box-shadow: 0px -2px 7px #d4cbb9;
    margin-bottom:13px;
    cursor:pointer;
}

.variable-links a:hover .trans{
    background:#2c959a;
    cursor:pointer;
}

.trans{
     background:url(/files/img/trans.png);
     height:34px;
     padding:0px 3px;
}

#conceptoviolencia{background:url(/files/img/conceptoviolencia.jpg);}
#conocimientoleyes{background:url(/files/img/conocimientoleyes.jpg);}
#creenciascausas{background:url(/files/img/creenciascausas.jpg);}
#identificacionsituacion{background:url(/files/img/identificacionsituacion.jpg);}
#accionessituacion{background:url(/files/img/accionessituacion.jpg);}
#comunicacionactiva{background:url(/files/img/comunicacionactiva.jpg);}
#tomadesicion{background:url(/files/img/tomadesicion.jpg);}
#participacionpublico{background:url(/files/img/participacionpublico.jpg);}
#incidenciapolitica{background:url(/files/img/incidenciapolitica.jpg);}
#educacioningreso{background:url(/files/img/educacioningreso.jpg);}
#accesorecurso{background:url(/files/img/accesorecurso.jpg);}
#corresponsabilidad{background:url(/files/img/corresponsabilidad.jpg);}
#prevalenciaviolencia{background:url(/files/img/prevalenciaviolencia.jpg);}
#tiposapoyo{background:url(/files/img/ayudamujer.jpg);}
#prevencionvgb{background:url(/files/img/prevencionvgb.jpg);}
#registrodatos{background:url(/files/img/registrodatos.jpg);}
#rutacritica{background:url(/files/img/rutacritica.jpg);}
#calidadatencion{background:url(/files/img/calidadatencion.jpg);}
#accionesparamejorar{background:url(/files/img/accionesparamejorar.jpg);}
#accionesprevencion{background:url(/files/img/accionesprevencion.jpg);}


#menu-indicadores ul{
    width:400px;
    float: left;
    font-size:13px;
    list-display:none;
}

#menu-indicadores ul span{
    font-size:14px;
    font-weight:bold;
}

#menu-indicadores ul li{
    border: #000 1px solid;
    background:grey;
    margin:5px;
}

#menu-indicadores ul a{
    display:block;
    float:left;
    margin:5px;
    background:#eef7f7;
    width:100%;
    text-decoration:none;
    color:#397da4;
    padding:5px;
    border:#cae4f2 1px dashed;
}

#menu-indicadores ul a:hover{
    background:#d4ebeb;

}

#grafosmujer{
    float:left;
    width:350px;
    background:#a1476d url(/files/img/mujeresbarra.png) no-repeat;
    height:30px;
    padding-left:130px;
}

#grafoshombre{
    float:left;
    width:350px;
    background:#4086ad url(/files/img/hombresbarra.png) no-repeat;
    height:30px;
    padding-left:130px;
}

#grafosmujer a{
    color:#5c3566;
}

#grafoshombre a{
    color:#204356;
}

.barra{
    font-size:12px;
}

.barra a, .barra a:visited{
    display:block;
    margin:4px 5px 0px 5px;
    float:left;
    padding:1px 10px 1px 10px;
    background:url(/files/img/fondobotonbarra.png) repeat-x;
    border-radius: 20px;
    -webkit-border-radius: 20x ;
    -moz-border-radius: 20px ;
    text-decoration:none;
    font-weight:bold;
    border:#fff solid 1px;
    -moz-box-shadow: 0px 0px 10px #3b1a28;
    -webkit-box-shadow: 0px 0px 10px #3b1a28;
}

.barra a:hover{
    background:#fff;
}
#container{
    padding-left: 1px;
}

#cambiar-indicador{
    height:38px;
    background:#c8c8c2;
    border:#fff 1px solid;
}

/* trigger button */
#download_now {
    background:transparent url(http://flowplayer.org/img/home/download.png) no-repeat scroll 0 0;
    display:block;
    height:44px;
    margin-bottom:30px;
    overflow:hidden;
    text-indent:-999em;
    width:159px;
    cursor:pointer;
}

/* mouseover state */
#download_now:hover {
    background-position:0 -44px ;
}

/* clicked state */
#download_now:focus {
    background-position:0 -88px;
}

/* tooltip styling */
.tooltip {
    display:none;
    /*background:url(http://static.flowplayer.org/tools/img/tooltip/black_big.png);*/
    background: url(/files/img/fondotooltip.png) repeat-x;
    border:#fff 3px solid;
    -moz-box-shadow: 0px 0px 15px #000;
    -webkit-box-shadow: 0px 0px 15px #000;
    border-radius: 3px;
    -webkit-border-radius: 3x ;
    -moz-border-radius: 3px ;
    height:auto;
    padding:15px 15px 15px 15px;
    width:380px;
    font-size:11px;
    color:#fff;
}

/* a .label element inside tooltip */
.tooltip .label {
    color:yellow;
    width:35px;
}

.tooltip a {
    color:#fff;
    font-size:11px;
    font-weight:bold;
    display:block;
    width:auto;
    height:auto;
    padding: 7px 0px 7px 23px;
    margin:0px 6px 5px 6px;
    font-size:12px;
    color:#fff;
    text-decoration:none;
    border-top:0px;
    border-bottom:#6e6e6e 1px dotted;
    -moz-box-shadow: 0px 0px 0px;
    -webkit-box-shadow: 0px 0px 0px;
    margin-bottom:0px;
    background:url(/files/img/arrow.png) no-repeat;
    background-position: center left;
}
.tooltip a:hover{
    color:#63e8e8;
}
.tabla-cruces table{
	font-size: 12px;
}
.tabla-cruces caption{
	font-size: 14px;
	color: #000;
	background: #EEF7F7;
	border: 1px solid #CAE4F2;		
}
.tabla-cruces label{
	padding-left: 20px;
}
.tabla-cruces ul{
	list-style: none;
	margin-left: -20px;
}
.view_grafo{
	font-size: 11px; text-decoration: none;
}
.view_grafo:hover{
	text-decoration: underline;
}
