{% extends "base.html" %}

{% block extratitle %}Resultados de fin{% endblock %}
{% block extrahead%}
    <script src="http://cdn.jquerytools.org/1.2.5/full/jquery.tools.min.js" type="text/javascript"></script>
    <link type="text/css" rel="stylesheet"  href="/files/css/style.css" >
    <script type="text/javascript">
    $(document).ready(function(){
        $(".activatooltip").tooltip({ effect: 'slide', position:'center right', events:{def:"click,mouseleave"}});
        $(".activatooltipleft").tooltip({ effect: 'slide', position:'center left', events:{def:"click,mouseleave"}});
    });
    </script>

{% endblock %}

{% block contenido %}
{% include "cambiar_instrumento.html" %}
<div class="title_bar">
    <div class="titulo">Resultado de Fin</div>
</div>
<div class="contraparts">

<br>
    <div class="paso pasoespecial">
                PASO 3 <br>
                <small>Selección de indicadores y variables</small>
    </div>
    <div id="menu-indicadores">
        <div id="panel-variable-header">
            <div class="variable-header">
                Mujeres del grupo meta desarrollan condiciones socio-económicas equitativas
            </div>
            <div class="variable-header">
                Mujeres del grupo meta desarrollan condiciones de vida libre de VBG
            </div>                        
            <div class="clean"></div>
        </div>
        <div id="panel-variable-links">
            <div class="variable-links">
                <a id="educacioningreso" class="activatooltip"><div class="trans">Estado de educación e ingreso de mujeres</div></a>
                <div class="tooltip">
                    <a href="/monitoreopf/mujeres/nivel-educativo/">¿Cu&aacute;l es el su nivel educativo m&aacute;s alto?</a>
                    <a href="/monitoreopf/mujeres/viven-con-pareja/">¿En su hogar vive con su esposo/compa&ntilde;ero?</a>
                    <a href="/monitoreopf/mujeres/trabaja-fuera/">¿Trabaja usted fuera del hogar?</a>
                    <a href="/monitoreopf/mujeres/aporte-ingresos/">¿Qui&eacute;n o quienes aportan ingresos al hogar?</a>
                </div>
                <a id="accesorecurso" class="activatooltip"><div class="trans">Acceso y control femenino de recursos</div></a>
                <div class="tooltip">
                    <a href="/monitoreopf/mujeres/mencione-recursos/">Mencione los recursos de los cuales usted es due&ntilde;a?</a>
                    <a href="/monitoreopf/mujeres/decide-recursos/">Mencione los recursos de los cuales usted decide?</a>
                </div>
                <a id="corresponsabilidad" class="activatooltip"><div class="trans">Corresponsabilidad en el hogar según mujeres</div></a>
                <div class="tooltip">
                    <a href="/monitoreopf/mujeres/actividades-hogar/">¿Cu&aacute;les de las siguientes actividades realiza usted en su hogar?</a>                    
                </div>
                <a id="corresponsabilidad" class="activatooltip"><div class="trans">Corresponsabilidad en el hogar según hombres</div></a>
                <div class="tooltip">
                    <a href="/monitoreopf/hombres/actividades-hogar/">¿Cu&aacute;les de las siguientes actividades realiza usted en su hogar?</a>                    
                </div>
            </div>
            <div class="variable-links">
            	<a id="prevalenciaviolencia" class="activatooltip"><div class="trans">Prevalencia VBG según mujeres</div></a>
                <div class="tooltip">
                    <a href="/monitoreopf/mujeres/ha-vivido-vbg/">Considera usted que alguna vez ha vivido VBG?</a>
                    <a href="/monitoreopf/mujeres/tipo-vbg-vivido/">Que tipo de VBG ha vivido?</a>
                    <a href="/monitoreopf/mujeres/frecuencia/">¿En este &uacute;ltimo a&ntilde;o con que frecuencia ha vivido VBG?</a>
                    <a href="/monitoreopf/mujeres/persona-ejercido/">¿Qui&eacute;n es la persona que ha ejercido VBG sobre usted?</a>                    
                </div>
                <a id="prevalenciaviolencia" class="activatooltip"><div class="trans">Prevalencia VBG según hombres</div></a>
                <div class="tooltip">
                    <a href="/monitoreopf/hombres/ha-ejercido-vbg/">Considera usted que ha ejercido VBG hacia una mujer el &uacute;ltimo a&ntilde;o?</a>
                    <a href="/monitoreopf/hombres/tipo-vbg-ejercido/">Que tipo de VBG ha ejercido?</a>
                    <a href="/monitoreopf/hombres/frecuencia/">¿En este &uacute;ltimo a&ntilde;o con que frecuencia ha ejercido VBG?</a>
                    <a href="/monitoreopf/hombres/parentesco-ha-ejercido/">¿Qu&eacute; parentesco tiene con la persona a la que ha ejercido VBG?</a>
                </div>                               
            </div>                     
            <div class="clean"></div>
        </div>
    </div>
</div>
{% endblock %}