{% extends "base.html" %}

{% block extratitle %}¿Sabe usted si en Nicaragua existe alguna ley que penaliza la violencia contra las mujeres?{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="/files/js/highcharts.js"></script>
<script type="text/javascript" src="/files/js/exporting.js"></script>
<script type="text/javascript">
    var plotOptions = {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: false
            },
            showInLegend: true
        },
        series: {
            dataLabels: {
                enabled: true,
                align: "center",
                formatter: function() {
                    return ''+ this.percentage.toFixed(1) + ' %';
                },
                color: '#000',
                style: {
                    font: '12px Trebuchet MS, Verdana, sans-serif'
                }
            }
        }
    }
    var tooltip = {
        formatter: function() {
            return '<b>'+ this.point.name +'</b>: '+ this.y +'%';
        }
    }
    var chart;
    $(document).ready(function(){
        $('.grafos').click(function(){
            var id = $(this).attr('id');
            var series;
            var titulo;
            if(id=='m10_13'){
                titulo = '{{totales.0}} Mujeres de 10-13 años';
                series = [{data: [{% for key, value in tabla.items %}['{{key}}', {{value.0.1}}],{% endfor %}]}]
            }else if(id=='m14_18'){
                titulo = '{{totales.1}} Mujeres de 14-17 años';
                series = [{data: [{% for key, value in tabla.items %}['{{key}}', {{value.1.1}}],{% endfor %}]}]
            }else if(id=='m18_mas'){
                titulo = '{{totales.2}} Mujeres mayores de 18 años';
                series = [{data: [{% for key, value in tabla.items %}['{{key}}', {{value.2.1}}],{% endfor %}]}]
            }else if(id=='h10_13'){
                titulo = '{{totales.3}} Hombres de 10-13 años';
                series = [{data: [{% for key, value in tabla.items %}['{{key}}', {{value.3.1}}],{% endfor %}]}]
            }else if(id=='h14_18'){
                titulo = '{{totales.4}} Hombres de 14-17 años';
                series = [{data: [{% for key, value in tabla.items %}['{{key}}', {{value.4.1}}],{% endfor %}]}]
            }else if(id=='h18_mas'){
                titulo = '{{totales.5}} Hombres mayores de 18 años';
                series = [{data: [{% for key, value in tabla.items %}['{{key}}', {{value.5.1}}],{% endfor %}]}]
            }
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'container',
                    defaultSeriesType: 'pie',
                    height: 480,
                    width: 960
                },
                title: {
                    text: '¿Sabe usted si en Nicaragua existe alguna ley que penaliza la violencia contra las mujeres?'
                },
                subtitle: {
                    text: titulo
                },
                tooltip: tooltip,
                plotOptions: plotOptions,
                series: series
            });
            return false;
        });
    });
</script>
{% endblock %}

{% block contenido %}
{% include "cambiar_instrumento.html" %}
<div>Graficos</div>
<a href="#" id="m10_13" class="grafos">Mujeres 10-13</a> | <a href="#" id="m14_18" class="grafos">Mujeres 14-17</a> | <a href="#" id="m18_mas" class="grafos">Mujeres mayores de 18</a><br>
<a href="#" id="h10_13" class="grafos">Hombres 10-13</a> | <a href="#" id="h14_18" class="grafos">Hombres 14-17</a> | <a href="#" id="h18_mas" class="grafos">Hombres mayores de 18</a><br>
<br>
<div id="container"></div>
<br>

{{totales}}<br>
{{tabla}}
{% endblock %}

