{% extends "base.html" %}

{% block extratitle %}Consultar{% endblock %}

{% block extrahead %}
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<link href="/files/css/jquery.multiselect.css" rel="stylesheet" type="text/css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
<script src="/files/js/jquery.multiselect.min.js" type="text/javascript"></script>
<script src="/files/js/jquery.multiselect.filter.js" type="text/javascript"></script>
<script src="/files/js/monitoreo.consultar.js" type="text/javascript"></script>
{% endblock %} {% block contenido %}

<div class="title_bar">
    <div class="titulo">Seleccion de Filtros</div>
    <div class="clean"></div>
</div>
<div class="contraparts">
    <div class="introform"><br>Bienvenido al formulario de filtros del sistema. Usted es libre filtrar analisis del monitoreo bajo 5 variables globales, tales como el <b>año</b> de implementación del instrumento y el <b>pais</b> de origen, la cual a su vez habilita la posiblidad de seleccionar el <b>Departamento</b>, <b>Organización</b> y <b>Municipio</b>. Basicamente debe de seleccionar los filtros que quiere tomar en cuenta para su consulta y posteriormente hacer un Clic en el boton <b>"Consultar"</b> </div>
    <br>
    <div class="formblock">
        <div class="paso">
            PASO 1 <br>
            <small>Selección de filtros</small>
        </div>
        <form action="." method="POST">
            {% csrf_token %}
            <div id="tabla-form">
                <table width="460">
                    <tr>
                        <td width="30%">{{ form.year.label_tag }}</td>
                        <td width="60%">{{form.year}}</td>
                    </tr>
                    <tr>
                        <td width="30%">{{ form.pais.label_tag }}</td>
                        <td width="70%">{{form.pais}}</td>
                    </tr>
                    <tr>
                        <td width="30%">{{ form.departamento.label_tag }}</td>
                        <td width="70%">{{form.departamento}}</td>
                    </tr>
                    <tr>
                        <td width="30%">{{ form.organizacion.label_tag }}</td>
                        <td width="70%">{{form.organizacion}}</td>
                    </tr>
                    <tr>
                        <td width="30%">{{ form.municipio.label_tag }}</td>
                        <td width="70%">{{form.municipio}}</td>
                    </tr>
                </table>
                <br>
                <input class="consultar" type="submit" value="" />
                {% if request.session.pf %}
                <input class="consultar avanzada" type="submit" value="" name="_avanzada"/>
                {% endif %}
                <br><br>
            </div>
        </form>
    </div>
    <div class="formblock">
        {% if centinela == 1 %}
        <div class="paso">
            PASO 2 <br>
            <small>Selección de Instrumento</small>
        </div>
        <div id="menufiltros">
            <br>
            {% if request.session.pf %}            
            <a id="proposito-link" href="/monitoreopf/proposito/"></a>
            <a id="fin-link"href="/monitoreopf/fin/"></a>
            {% else %}
            <a id="mujeres-link" href="/monitoreo/mujeres/"></a>
            <a id="hombres-link"href="/monitoreo/hombres/"></a>
            <a id="lideres-link" href="/monitoreo/lideres/"></a>
            <a id="funcionarios-link" href="/monitoreo/funcionarios/"></a>
            <a id="organizaciones-link" href="/monitoreo/frganizaciones/"></a>
            {% endif %}
            <div class="clean"></div>
            <br>
        </div>
        {%endif%}
    </div>
    <div class="clean"></div>
</div>
{% endblock %}
