{% extends "base.html" %}

{% block extrahead %}
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<link href="/files/css/jquery.multiselect.css" rel="stylesheet" type="text/css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
<script src="/files/js/jquery.multiselect.min.js" type="text/javascript"></script>
<script src="/files/js/jquery.multiselect.filter.js" type="text/javascript"></script>
<script src="/files/js/monitoreo.consultar.js" type="text/javascript"></script>
{% endblock %}

{% block contenido %}
<form action="." method="POST">{% csrf_token %}
<table>
{{form.as_table}}
</table>
<input type="submit" value="Consultar"/>
</form>
{% if centinela == 1 %}
<div><br>
	<a href="/monitoreo/mujeres-hombres/">Mujeres y Hombres</a> | <a href="/monitoreo/lideres/">Lideres, Lideresas y Docentes</a> | <a href="/monitoreo/funcionarios/">Funcionarios</a>
	<br>
</div>
{% endif %}
{% endblock %}