{% extends "base.html" %}

{% block extrahead %}
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<link href="/files/css/jquery.multiselect.css" rel="stylesheet" type="text/css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
<script src="/files/js/jquery.multiselect.min.js" type="text/javascript"></script>
<script src="/files/js/jquery.multiselect.filter.js" type="text/javascript"></script>
<script src="/files/js/monitoreo.consultar.js" type="text/javascript"></script>
{% endblock %}

{% block contenido %}
<table>
{{form.as_table}}
</table>
{% endblock %}