{% extends "base.html" %}

{% block extratitle %}De que manera se expresa la VBG{% endblock %}

{% block contenido %}
<br>
{{totales}}
<br>
<table class="tabla-resultados">
    <caption>De que manera cree usted que se expresa la VBG:</caption>
    <thead>
        <tr>
            <th rowspan="2">Categorias</th>
            <th colspan="3">Mujeres</th>
            <th colspan="3">Hombres</th>
        </tr>
        <tr>
            <th>10-13</th>
            <th>14-18</th>
            <th>18-mas</th>
            <th>10-13</th>
            <th>14-18</th>
            <th>18-mas</th>
        </tr>
    </thead>
    <tbody>
        {% for key, value in tabla.items %}
        <tr>
            <td>{{key}}</td>
            {% for valor in value %}
            <td>{{valor.0}} ({{valor.1}}%)</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}