{% extends "base.html" %}

{% block contenido %}
<div>
    <h2>Datos de Funcionarios</h2>
    <ul>
        Concepto de Violencia
        <li><a href="le-hablan-de/">Cuando alguien le habla de VBG usted cree que refiere a:</a></li>
    </ul>
    <ul>
        Expresiones de Violencia BG
        <li><a href="expresion-violencia/">¿De que manera se expresa la violencia?</a></li>
    </ul>
    <ul>
        Creencias sobre VBG
        <li><a href="comportamiento/">C&oacute;mo deben comportarse hombres y mujeres</a></li>
    </ul>
<!--    <ul>
        Justificacion de la VBG
        <li><a href="hombres-violencia-mujeres/">Lo hombres ejercen violencia hacia las mujeres porque</a></li>
    </ul>
    <ul>
        Causas de la VBG
        <li><a href="hombres-violentos-por/">¿Cree usted que los hombres son violentos debido a?</a></li>
    </ul>
    <ul>
        Identificación de situaciones de  VBG
        <li><a href="hombres-que-ejercen-vbg/">Conoce hombres que ejercen VBG</a></li>
        <li><a href="mujeres-viven-vbg/">Mujeres que viven VBG</a></li>
    </ul>
    <ul>
        Acciones ante situaciones de VBG
        <li><a href="ayuda-mujer-violencia/">Ha ayudado a alguna mujer que ha vivido VBG?</a></li>
        <li><a href="que-hace-ante-vbg/">Que hace cuando existe una situaci&oacute;n de VBG</a></li>
        <li><a href="donde-buscar-ayuda/">Donde debe buscar ayuda una mujer que vive VBG</a></li>
        <li><a href="que-debe-hacer/">Si hombre le pega a su pareja, que deber&iacute;a de hacer?</a></li>
    </ul>
    <ul>
        Prevalencia de la VBG
        <li><a href="ha-vivido-vbg/">Considera usted que alguna vez ha vivido VBG?</a></li>
        <li><a href="tipo-vbg-vivido/">Que tipo de VBG ha vivido?</a></li>
        <li><a href="ha-ejercido-vbg/">Considera usted que ha ejercido VBG hacia una mujer el &uacute;ltimo a&ntilde;o?</a></li>
        <li><a href="tipo-vbg-ejercido/">Que tipo de VBG ha ejercido?</a></li>
    </ul>
    <ul>
        VBG como asunto publico
        <li><a href="vbg-se-resuelve-con/">La VBG debe resolverse con:</a></li>
    </ul>
    <ul>
        Efectos de la VBG en el desarrollo
        <li><a href="afeccion-vbg/">Afecta la VBG a las mujeres, familia y comunidad?</a></li>
        <li><a href="como-afecta/">Cómo afecta?</a></li>
    </ul>
    <ul>
        Conocimiento sobre leyes
        <li><a href="conoce-leyes/">¿Conoce ley que penaliza VBG?</a></li>
        <li><a href="prohibido-por-ley/">Acciones prohibidas por la ley?</a></li>
    </ul>
    <ul>
        Toma de decisiones
        <li><a href="que-acciones-realizar/">¿Cuando una mujer vive VBG cuales acciones debe realizar?</a></li>
    </ul>
    <ul>
        Participaci&oacute;n en Espacios P&uacute;blicos
        <li><a href="participacion-en-espacios/">¿En que espacios est&aacute;s integrada/o?</a></li>
    </ul>
    <ul>
        Corresponsabilidad en el hogar
        <li><a href="actividades-hogar/">¿Cu&aacute;s de las siguientes actividades realiza usted en su hogar?</a></li>
    </ul>
    <ul>
        Comunicacion asertiva
        <li><a href="solucion-problema/">¿Qu&eacute; se debe hacer para que la solucion a un conflicto sea exitosa?</a></li>
        <li><a href="negociacion-pareja/">¿Qu&eacute; se debe hacer para que una negociaci&oacute;n de pareja sea exitosa?</a></li>
    </ul>-->
</div>
{% endblock %}