{% extends "base.html" %}

{% block extratitle %}{{titulo}}{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="/files/js/highcharts.js"></script>
<script type="text/javascript" src="/files/js/exporting_patched.js"></script>
    <link type="text/css" rel="stylesheet"  href="/files/css/style.css" >
<script type="text/javascript">
    var plotOptions = {
        column: {
            groupPadding: 0,
            pointPadding: 0.9,
            borderWidth: 0
        },
        series: {
            pointWidth: 25,
            minPointLength : 0.5,
            dataLabels: {
                enabled: true,
                align: "center",
                formatter: function() {
                    return ''+ this.y + ' %';
                },
                color: '#000',
                style: {
                    font: '12px Trebuchet MS, Verdana, sans-serif'
                }
            }
        }
    }
    var tooltip = {
        formatter: function() {
            return ''+
                this.series.name +': '+ this.y +'%';
        }
    }
    var leyenda = {
        layout: 'horizontal',
        align: 'center',
        verticalAlign: 'bottom',
        shadow: true
    }
    var chart;
    $(document).ready(function() {
        $('.grafos').click(function(){
            var id = $(this).attr('id');
            var series;
            var titulo;
            if(id=='m10_13'){
                titulo = '{{totales.0}} {{tipo|title}} de 10-13 años';
                series = [{% for key, value in tabla.items %}{% if value.0.1 != 0 %}{name: '{{key}}',data: [{{value.0.1}}]}, {% endif %}{% endfor %}]
            }else if(id=='m14_18'){
                titulo = '{{totales.1}} {{tipo|title}} de 14-17 años';
                series = [{% for key, value in tabla.items %}{% if value.1.1 != 0 %}{name: '{{key}}',data: [{{value.1.1}}]}, {% endif %}{% endfor %}]
            }else if(id=='m18_mas'){
                titulo = '{{totales.2}} {{tipo|title}} mayores de 18 años';
                series = [{% for key, value in tabla.items %}{% if value.2.1 != 0 %}{name: '{{key}}',data: [{{value.2.1}}]}, {% endif %}{% endfor %}]
            }else if(id=='todas'){
                titulo = '{{totales.3}} {% if tipo == 'mujeres' %}Todas las{% else %}Todos los{% endif %} {{tipo}}';
                series = [{% for key, value in tabla.items %}{% if value.3.1 != 0 %}{name: '{{key}}',data: [{{value.3.1}}]}, {% endif %}{% endfor %}]
            }
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'container',
                    defaultSeriesType: 'column',
                    height: 480,
                    width: 960
                },
                title: {
                    text: '{{titulo}}'
                },
                subtitle: {
                    text: titulo
                },
                xAxis: {
                    categories: [
                        'Opciones'
                    ]
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Porcentajes'
                    }
                },
                legend: leyenda,
                tooltip: tooltip,
                plotOptions: plotOptions,
                series: series
            });
            return false;
        });
    });
</script>
<style type="text/css">
    #grafoshombre, #grafosmujer{
        width: 830px;
    }
</style>
<script type="text/javascript">
$(document).ready(function () {
    $("ul.menu_body li:even").addClass("alt");
    $('img.menu_head').click(function () {
    $('ul.menu_body').slideToggle('medium');
    });
    $('ul.menu_body li a').mouseover(function () {
    $(this).animate({ fontSize: "12px", paddingLeft: "20px" }, 50 );
    });
    $('ul.menu_body li a').mouseout(function () {
    $(this).animate({ fontSize: "12px", paddingLeft: "10px" }, 50 );
    });
});
</script>
{% endblock %}

{% block contenido %}
{% include "cambiar_instrumento.html" %}
<div class="title_bar">
    <div class="titulo">{{tipo|title}} | {{titulo}}</div>
    <div class="titulo der"><a href="/monitoreo/{{tipo}}/">&larr; Volver</a></div>
</div>
<div class="contraparts">
    {% include "filtros_seleccionados.html" %}
    <div {% if tipo == 'mujeres' %}id="grafosmujer" {% else %}id="grafoshombre"{% endif %} class="barra">
        <a href="#" id="m10_13" class="grafos">10-13 años</a>
        <a href="#" id="m14_18" class="grafos">14-17 años</a>
        <a href="#" id="m18_mas" class="grafos">18+ años</a>
        <a href="#" id="todas" class="grafos">{% if tipo == 'mujeres' %}Todas{% else %}Todos{% endif %}</a>
    </div>
    <div class="clean"></div>
    <div id="container"></div>
    <br><br>
    <table class="tabla-resultados" style="width:100%;">
        <caption>TOTALES</caption>
        <thead>
            <tr>
                <th rowspan="2"></th>
                <th colspan="4">{{tipo|title}}</th>
            </tr>
            <tr>
                <th>10-13</th>
                <th>14-17</th>
                <th>18-mas</th>
                <th>Todas/os</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>TOTALES ENCUESTADOS</td>
                <td>{{totales.0}}</td>
                <td>{{totales.1}}</td>
                <td>{{totales.2}}</td>
                <td>{{totales.3}}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <table class="tabla-resultados" style="width:100%;">
        <caption>{{titulo}}</caption>
        <thead>
            <tr>
                <th rowspan="2">Categorias</th>
                <th colspan="4">{{tipo|title}}</th>
            </tr>
            <tr>
                <th>10-13</th>
                <th>14-17</th>
                <th>18-mas</th>
                <th>{% if tipo == 'mujeres' %}Todas{% else %}Todos{% endif %}</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in tabla.items %}
            <tr>
                <td>{{key}}</td>
                {% for valor in value %}
                <td>{{valor.0}} ({{valor.1}}%)</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
