{% extends "base.html" %}

{% block extratitle %}¿Considera usted que ha ejercido VBG contra una mujer el ultimo año?{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="/files/js/highcharts.js"></script>
<script type="text/javascript" src="/files/js/exporting.js"></script>
<script type="text/javascript">
    var plotOptions = {
         pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
               enabled: false
            },
            showInLegend: true
         },
         series: {
             dataLabels: {
                 enabled: true,
                 align: "center",
                 formatter: function() {
                     return ''+ this.percentage.toFixed(1) + ' %';
                 },
                 color: '#000',
                 style: {
                     font: '12px Trebuchet MS, Verdana, sans-serif'
                 }
             }
         }
    }
    var tooltip = {
        formatter: function() {
            return '<b>'+ this.point.name +'</b>: '+ this.y +'%';
        }
    }
    var chart;
    $(document).ready(function(){
        $('.grafos').click(function(){
            var id = $(this).attr('id');
            var series;
            var titulo;
            if(id=='todos'){
                titulo = '{{totales.3}} Todos los hombres';
                series = [{data: [{% for key, value in tabla.items %}['{{key}}', {{value.3.1}}],{% endfor %}]}]
            }else if(id=='h10_13'){
                titulo = '{{totales.0}} Hombres de 10-13 años';
                series = [{data: [{% for key, value in tabla.items %}['{{key}}', {{value.0.1}}],{% endfor %}]}]
            }else if(id=='h14_18'){
                titulo = '{{totales.1}} Hombres de 14-17 años';
                series = [{data: [{% for key, value in tabla.items %}['{{key}}', {{value.1.1}}],{% endfor %}]}]
            }else if(id=='h18_mas'){
                titulo = '{{totales.2}} Hombres mayores de 18 años';
                series = [{data: [{% for key, value in tabla.items %}['{{key}}', {{value.2.1}}],{% endfor %}]}]
            }
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'container',
                    defaultSeriesType: 'pie'
                },
                title: {
                    text: '¿Considera usted que ha ejercido VBG contra una mujer el ultimo año?'
                },
                subtitle: {
                    text: titulo
                },
                tooltip: tooltip,
                plotOptions: plotOptions,
                series: series
            });
            return false;
        });
    });
</script>
<style type="text/css">
    #grafoshombre, #grafosmujer{
        width: 830px;
    }
</style>
{% endblock %}

{% block contenido %}
    <div class="title_bar">
        <div class="titulo">Hombres | Considera usted que alguna vez ha ejercido VBG hacia una mujer?</div>
        <div class="titulo der"><a href="/monitoreo/hombres/">&larr; Volver</a></div>
    </div>
<div class="contraparts">
    <br>
    <div id= "grafoshombre" class="barra">
        <a href="#" id="h10_13" class="grafos">10-13 años</a>
        <a href="#" id="h14_18" class="grafos">14-17 años</a>
        <a href="#" id="h18_mas" class="grafos">18+ años</a>
        <a href="#" id="todos" class="grafos">Todos los hombres</a>        
    </div>
    <div class="clean"></div>
    <br>
<div id="container"></div>
    <table class="tabla-resultados" style="width:100%;">
        <caption>TOTALES</caption>
        <thead>
            <tr>
                <th rowspan="2"></th>
                <th colspan="4">Hombres</th>
            </tr>
            <tr>
                <th>10-13</th>
                <th>14-17</th>
                <th>18-mas</th>
                <th>Todos</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>TOTALES ENCUESTADOS</td>
                <td>{{totales.0}}</td>
                <td>{{totales.1}}</td>
                <td>{{totales.2}}</td>
                <td>{{totales.3}}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
