{% extends "base.html" %}
{% block extratitle %}Lideres{% endblock %}

{% block contenido %}
<div class="title_bar">
    <div class="titulo">Datos de L&iacute;deres</div>
</div>
<div class="contraparts">

    <div id="menu-indicadores">
        <ul>
            <span>Concepto de Violencia</span>
            <a href="le-hablan-de/">Cuando alguien le habla de VBG usted cree que refiere a:</a>
        </ul>
        <ul>
            <span>Expresiones de Violencia BG</span>
            <a href="expresion-violencia/">De que manera se expresa la violencia?</a>
        </ul>
        <ul>
            <span>Creencias sobre VBG</span>
            <a href="comportamiento/">C&oacute;mo deben comportarse hombres y mujeres</a>
        </ul>
        <ul>
            <span>Causas de la VBG</span>
            <a href="/monitoreo/lideres/hombres-violentos/">¿Cree usted que los hombres son violentos debido a?</a>
        </ul>
        <ul>
            <span>Identificaci&oacute;n de situaciones de VBG</span>
            <a href="conoce-hombres-violentos/">¿Conoce usted si en su comunidad existen hombres que ejercen VBG?</a>
            <a href="conoce-mujeres-vbg/">¿Conoce usted si en su comunidad existen mujeres que han vivido VBG?</a>
        </ul>
        <ul>
            <span>Justificacion de la VBG</span>
            <a href="/monitoreo/lideres/justificacion/">Lo hombres ejercen violencia hacia las mujeres porque</a>
        </ul>
        <ul>
            <span>Acciones ante situaciones de VBG</span>
            <a href="que-hace-ante-vbg/">¿Que hace cuando existe una situacion de VBG en su comunidad?</a>  
            <a href="/monitoreo/lideres/ayuda-mujer/">Ha ayudado a alguna mujer que ha vivido VBG?</a>            
            <a href="donde-buscar-ayuda/">Donde debe buscar ayuda una mujer que vive VBG</a>
            <a href="que-debe-hacer/">¿Si un hombre le pega a su pareja que acciones deberia de tomar?</a>
        </ul>
        <ul>
            <span>Prevalencia de la VBG</span>
            <a href="mujeres-vbg-comunidad/">¿Piensa usted que en su comunidad existen mujeres que viven VBG?</a>
            <a href="ha-vivido-vbg/">¿Considera usted que alguna vez ha vivido VBG?</a>
            <a href="tipo-vbg-ha-vivido/">¿Qué tipo de VBG ha vivido?</a>
            <a href="frecuencia-vbg/">¿Con que frecuencia ha vivido VBG?</a>
            <a href="quien-ejercio-vbg/">¿Quién fue la persona que ejecutó esta situación?</a>
        </ul>
        <ul>
            <span>Conocimiento sobre leyes</span>
            <a href="conocimiento-leyes/">Acciones son prohibidas por la ley</a>
            <a href="existe-ley-penaliza-vbg/">¿Sabe usted si existe alguna ley que penaliza la VBG contra las mujeres?</a>
        </ul>
        <ul>
            <span>Toma de decisiones</span>
            <a href="decisiones/">¿Cuando una mujer vive VBG cuales acciones deberia realizar?</a>
        </ul>
        <ul>
            <span>Corresponsabilidad en el hogar</span>
            <a href="corresponsabilidad/">¿Cuáles de las siguientes actividades realiza usted en su hogar?</a>
        </ul>
        <ul>
            <span>Comunicaci&oacute;n asertiva</span>
            <a href="solucion-problema-lideres/">¿Qué se debe hacer para que la solucion a un conflicto entre la pareja sea exitoso?</a>
            <a href="negociacion-exitosa/">¿Qué se debe hacer para que una negociaci&oacute;n de pareja sea exitosa?</a>
        </ul>
        <ul>
            <span>Acciones de prevención de VBG</span>
            <a href="prevenir-vbg/">¿En su organizaci&oacute;n, escuela o usted realizan algunas acciones dirigidas a prevenir la VBG?</a>
            <a href="cuales-acciones/">¿Cuales acciones ha/han desarrollado?</a>
        </ul>
        <ul>
            <span>Incidencia Pol&iacute;tica</span>
            <a href="mujeres-lideres/">¿Existen mujeres que representan a otras mujeres?</a>
            <a href="nivel-satisfaccion/">¿Qué tan satisfechas están las mujeres con quienes las representan?</a>
        </ul>
        <ul>
            <span>Percepci&oacute;n de la calidad de atenci&oacute;n</span>
            <a href="presenta-propuestas/">¿Ha presentado propuestas de acciones de prevenci&oacute;n de VBG?</a>
            <a href="tipo-propuesta-presentada/">¿Que tipo de propuesta ha presentado?</a>
            <a href="negocia-propuestas/">¿Ha negociado propuestas de acciones de prevenci&oacute;n de VBG?</a>
            <a href="tipo-propuesta-negociada/">¿Que tipo de propuesta ha negociado?</a>
        </ul>
    </div>    
</div>
{% endblock %}
