{% extends "base.html" %}

{% block extratitle %}Acciones prohibidas por la ley{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="/files/js/highcharts.js"></script>
<script type="text/javascript" src="/files/js/exporting.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function(){
    	$("#tabs").tabs();
	});
    var plotOptions = {
        column: {
            stacking: 'normal'
        },
        series: {
            dataLabels: {
                enabled: true,
                align: 'center',
                color: '#000',
                formatter: function() {
                    if(this.percentage.toFixed(1)!=0.00){
                        return this.percentage.toFixed(1);
                    }
                },
                style: {
                    font: '12px Trebuchet MS, Verdana, sans-serif'
                }
            }
        }
    }
    var tooltip = {
        formatter: function() {
            return '<b>'+ this.x +'</b><br/>'+
                this.series.name +': '+ this.y +'<br/>'+
                'Total: '+ this.point.stackTotal;
        }
    }
    var chart;
    $(document).ready(function(){
        $('.grafos').click(function(){
            var id = $(this).attr('id');
            var series;
            var titulo;
            if(id=='m10_13'){
                titulo = '{{totales.0}} {{tipo|title}} de 10-13 años';
                series = [{% for key, value in grafico.1.items %}{
                        name: "{% if key == 1 %}Si{% else %}{% if key == 2 %}No{% else %}{% if key == 3 %}No sabe{% else %}No responde{% endif %}{% endif %}{% endif %}",
                        data: {{value}}}, {% endfor %}]
            }else if(id=='m14_18'){
                titulo = '{{totales.1}} {{tipo|title}} de 14-17 años';
                series = [{% for key, value in grafico.2.items %}{
                        name: "{% if key == 1 %}Si{% else %}{% if key == 2 %}No{% else %}{% if key == 3 %}No sabe{% else %}No responde{% endif %}{% endif %}{% endif %}",
                        data: {{value}}}, {% endfor %}]
            }else if(id=='m18_mas'){
                titulo = '{{totales.2}} {{tipo|title}} mayores de 18 años';
                series = [{% for key, value in grafico.3.items %}{
                        name: "{% if key == 1 %}Si{% else %}{% if key == 2 %}No{% else %}{% if key == 3 %}No sabe{% else %}No responde{% endif %}{% endif %}{% endif %}",
                        data: {{value}}}, {% endfor %}]
            }else if(id=='todos'){
                titulo = '{{totales.3}} {% if tipo == "mujeres" %}Todas las mujeres{% else %}Todos los hombres{% endif %}';
                series = [{% for key, value in grafico.4.items %}{
                        name: "{% if key == 1 %}Si{% else %}{% if key == 2 %}No{% else %}{% if key == 3 %}No sabe{% else %}No responde{% endif %}{% endif %}{% endif %}",
                        data: {{value}}}, {% endfor %}]
            }
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'container',
                    defaultSeriesType: 'column',
                    height: 480,
                    width: 960
                },
                title: {
                    text: 'Conocimiento sobre acciones son prohibidas por la ley'
                },
                subtitle: {
                    text: titulo
                },
                xAxis: {
                    categories: [{% for key, value in tabla.items %}'{{key}}',{% endfor %}]
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Respuesta'
                    }
                },

                tooltip: tooltip,
                plotOptions: plotOptions,
                series: series
            });
            return false;
        });
    });
</script>
<style type="text/css">
    #grafoshombre, #grafosmujer{
        width: 830px;
    }
</style>
{% endblock %}

{% block contenido %}<!-- BEGIN tabla de la MUERTE-->
{% include "cambiar_instrumento.html" %}
    <div class="title_bar">
        <div class="titulo">{{tipo|title}} | Acciones Prohibidas por la ley</div>
        <div class="titulo der"><a href="/monitoreo/{{tipo}}/">&larr; Volver</a></div>
    </div>
<div class="contraparts">
<br>
        <div {% if tipo == 'mujeres' %}id="grafosmujer"{% else %}id="grafoshombre"{% endif %} class="barra">
            <a href="#" id="m10_13" class="grafos">10-13 años</a>
            <a href="#" id="m14_18" class="grafos">14-17 años</a>
            <a href="#" id="m18_mas" class="grafos">Mayores 18 años</a>
            <a href="#" id="todos" class="grafos">{% if tipo == 'mujeres' %}Todas las mujeres{% else %}Todos los hombres{% endif %}</a>
        </div>        
        <div class="clean"></div><br>
    <div id="container"></div>
    <div class="tabla-container">
        <table class="tabla-resultados" style="width:100%;">
            <caption>TOTALES</caption>
            <thead>
                <tr>
                    <th rowspan="2"></th>
                    <th colspan="4">{{tipo|title}}</th>                    
                </tr>
                <tr>
                    <th>10-13</th>
                    <th>14-17</th>
                    <th>18-mas</th>
                    <th>{% if tipo == 'mujeres' %}Todas{% else %}Todos{% endif %}</th>                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>TOTALES ENCUESTADOS</td>
                    <td>{{totales.0}}</td>
                    <td>{{totales.1}}</td>
                    <td>{{totales.2}}</td>
                    <td>{{totales.3}}</td>                    
                </tr>
            </tbody>
        </table><br>
    </div>
    <div class="tabla-container" id="tabs" style="font-size:70%;">
    	<ul>
    		<li><a href='#10_13'>{{tipo|title}} 10-13 años</a></li>
    		<li><a href='#14_17'>{{tipo|title}} 14-17 años</a></li>
    		<li><a href='#18_mas'>{{tipo|title}} 18+ años</a></li>
    		<li><a href='#todos'>{% if tipo == 'mujeres' %}Todas las{% else %}Todos los{% endif %} {{tipo|title}}</a></li>
    	</ul>
        <table class="tabla-resultados" id="10_13" style="width:100%;">
            <caption>Sabe usted cuales de las siguientes acciones son prohibidas por la ley</caption>
            <thead>
                <tr>
                    <th rowspan="3">Categorias</th>
                    <th colspan="4">{{tipo|title}} 10-13 años</th>
                </tr>
                <tr>
                    {% for grupo in tabla.items.0.1.items.0.1|slice:":1" %}
                    {% for k in SI_NO_RESPONDE %}
                    <th>{{k.1}}</th>
                    {% endfor %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for key, value in tabla.items %}
                <tr>
                    <td>{{key}}</td>
                    {% for k,v in value.items|slice:"0:1" %}
                    {% for valor in v %}
                    <td>{{valor.0}} ({{valor.1}}%)</td>                    
                    {% endfor %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <table class="tabla-resultados" id="14_17" style="width:100%;">
            <caption>Sabe usted cuales de las siguientes acciones son prohibidas por la ley</caption>
            <thead>
                <tr>
                    <th rowspan="3">Categorias</th>
                    <th colspan="4">{{tipo|title}} 14-17 años</th>
                </tr>
                <tr>
                    {% for grupo in tabla.items.0.1.items.0.1|slice:":1" %}
                    {% for k in SI_NO_RESPONDE %}
                    <th>{{k.1}}</th>
                    {% endfor %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for key, value in tabla.items %}
                <tr>
                    <td>{{key}}</td>
                    {% for k,v in value.items|slice:"1:2" %}
                    {% for valor in v %}
                    <td>{{valor.0}} ({{valor.1}}%)</td>                    
                    {% endfor %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <table class="tabla-resultados" id="18_mas" style="width:100%;">
            <caption>Sabe usted cuales de las siguientes acciones son prohibidas por la ley</caption>
            <thead>
                <tr>
                    <th rowspan="3">Categorias</th>
                    <th colspan="4">{{tipo|title}} 18+ años</th>
                </tr>
                <tr>
                    {% for grupo in tabla.items.0.1.items.0.1|slice:":1" %}
                    {% for k in SI_NO_RESPONDE %}
                    <th>{{k.1}}</th>
                    {% endfor %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for key, value in tabla.items %}
                <tr>
                    <td>{{key}}</td>
                    {% for k,v in value.items|slice:"2:3" %}
                    {% for valor in v %}
                    <td>{{valor.0}} ({{valor.1}}%)</td>                    
                    {% endfor %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <table class="tabla-resultados" id="todos" style="width:100%;">
            <caption>Sabe usted cuales de las siguientes acciones son prohibidas por la ley</caption>
            <thead>
                <tr>
                    <th rowspan="3">Categorias</th>
                    <th colspan="4">{% if tipo == 'mujeres' %}Todas las{% else %}Todos los{% endif %} {{tipo|title}}</th>
                </tr>
                <tr>
                    {% for grupo in tabla.items.0.1.items.0.1|slice:":1" %}
                    {% for k in SI_NO_RESPONDE %}
                    <th>{{k.1}}</th>
                    {% endfor %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for key, value in tabla.items %}
                <tr>
                    <td>{{key}}</td>
                    {% for k,v in value.items|slice:"3:4" %}
                    {% for valor in v %}
                    <td>{{valor.0}} ({{valor.1}}%)</td>                    
                    {% endfor %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!--FIN tabla de la MUERTE UNO-->
{% endblock %}
