{% extends "base.html" %}

{% block extratitle %}¿Qu&eacute; hace usted cuando hay una situaci&oacute;n de violencia en su comunidad?{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="/files/js/highcharts.js"></script>
<script type="text/javascript" src="/files/js/exporting.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript">
    var plotOptions = {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: false
            },
            showInLegend: true
        },
        series: {
            dataLabels: {
                enabled: true,
                align: "center",
                formatter: function() {
                    return ''+ this.percentage.toFixed(2) + ' %';
                },
                color: '#000',
                style: {
                    font: '12px Trebuchet MS, Verdana, sans-serif'
                }
            }
        }
    }
    var tooltip = {
        formatter: function() {
            return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(2) +'%';
        }
    }

    $(document).ready(function(){
        $("#tabs").tabs();
        $(".graficos").tabs();
        $(".graficos1").tabs();
    });
    $(document).ready(function(){
        {% for key, value in grafico.items %}
        var mchart{{forloop.counter}} = new Highcharts.Chart({
            chart: {
                renderTo: 'mujeres-{{forloop.counter}}',
                defaultSeriesType: 'pie',
                height: 480,
                width: 900
            },
            title: {
                text: 'Opcion {{key}}'
            },            
            tooltip: tooltip,
            plotOptions: plotOptions,
            series: [{data: [{% for valor in value|slice:"5" %}['{{valor.items.0.0}}', {{valor.items.0.1.0}}],{% endfor %}]}]
        });    
        {% endfor %}
        {% for key, value in grafico.items %}
        var hchart{{forloop.counter}} = new Highcharts.Chart({
            chart: {
                renderTo: 'hombres-{{forloop.counter}}',
                defaultSeriesType: 'pie',
                height: 480,
                width: 900
            },
            title: {
                text: 'Opcion {{key}}'
            },            
            tooltip: tooltip,
            plotOptions: plotOptions,
            series: [{data: [{% for valor in value|slice:"5:10" %}['{{valor.items.0.0}}', {{valor.items.0.1.0}}],{% endfor %}]}]
        });
        {% endfor %}
    });
</script>
{% endblock %}

{% block contenido %}
<div class="title_bar">
    <div class="titulo">{{tipo|title}} | ¿Qu&eacute; hace usted cuando hay una situaci&oacute;n de violencia en su comunidad?</div>
    <div class="titulo der"><a href="/monitoreo/mujeres-hombres/">&larr; Volver</a></div>
</div>
<div class="contraparts"><br>
    <div class="tabla-container">
        <table class="tabla-resultados" style="width:100%;">
            <caption>TOTALES</caption>
            <thead>
                <tr>
                    <th rowspan="2"></th>
                    <th colspan="4">{{tipo|title}}</th>                    
                </tr>
                <tr>
                    <th>10-13</th>
                    <th>14-17</th>
                    <th>18+ años</th>
                    <th>{% if tipo == 'mujeres' %}Todas{% else %}Todos{% endif %}</th>                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>TOTALES ENCUESTADOS</td>
                    <td>{{totales.0}}</td>
                    <td>{{totales.1}}</td>
                    <td>{{totales.2}}</td>
                    <td>{{totales.3}}</td>                    
                </tr>
            </tbody>
        </table><br>
    </div>
    <div id="tabs" style="font-size:70%;">
        <ul>
            <li><a href="#10_13">{{tipo|title}} 10-13</a></li>
            <li><a href="#14_17">{{tipo|title}} 14-17</a></li>
            <li><a href="#18_mas">{{tipo|title}} 18+ años</a></li>
            <li><a href="#todos">{% if tipo == 'mujeres' %}Todas las{% else %}Todos los{% endif %} {{tipo|title}}</a></li>
        </ul>
        <div id="10_13">        
            <table class="tabla-resultados" style="width:100%;">
                <caption>¿Qu&eacute; hace usted cuando hay una situaci&oacute;n de violencia en su comunidad? ({{tipo|title}} 10-13 a&ntilde;os)</caption>
                <thead>
                    <tr>
                        <th rowspan="2">Categorias</th>
                        <th colspan="6">{{tipo|title}} 10-13 a&ntilde;os</th>
                    </tr>
                    <tr>
                        {% for a in opciones %}
                        <th>{{a}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in tabla.items %}
                    <tr>
                        <td>{{key}}</td>
                        {% for k, valor in value.items|slice:":1" %}
                        {% for a,b in valor.items %}
                        <td>{{b}}</td>
                        {% endfor %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            <div id="14_17">
            <table class="tabla-resultados" style="width:100%;">
                <caption>¿Qu&eacute; hace usted cuando hay una situaci&oacute;n de violencia en su comunidad? ({{tipo|title}} 14-17 a&ntilde;os)</caption>
                <thead>
                    <tr>
                        <th rowspan="2">Categorias</th>
                        <th colspan="6">{{tipo|title}} 14-17 a&ntilde;os</th>
                    </tr>
                    <tr>
                        {% for a in opciones %}
                        <th>{{a}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in tabla.items %}
                    <tr>
                        <td>{{key}}</td>
                        {% for k, valor in value.items|slice:"1:2" %}
                        {% for a,b in valor.items %}
                        <td>{{b}}</td>
                        {% endfor %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            <div id="18_mas">            
            <table class="tabla-resultados" style="width:100%;">
                <caption>¿Qu&eacute; hace usted cuando hay una situaci&oacute;n de violencia en su comunidad? ({{tipo|title}} 18 a m&aacute;s a&ntilde;os)</caption>
                <thead>
                    <tr>
                        <th rowspan="2">Categorias</th>
                        <th colspan="6">{{tipo|title}} 18 a m&aacute;s</th>
                    </tr>
                    <tr>
                        {% for a in opciones %}
                        <th>{{a}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in tabla.items %}
                    <tr>
                        <td>{{key}}</td>
                        {% for k, valor in value.items|slice:"2:3" %}
                        {% for a,b in valor.items %}
                        <td>{{b}}</td>
                        {% endfor %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>            
        </div>
        <div id="todos">
            <table class="tabla-resultados" style="width:100%;">
                <caption>¿Qu&eacute; hace usted cuando hay una situaci&oacute;n de violencia en su comunidad? ({% if tipo == 'mujeres' %}Todas las{% else %}Todos los{% endif %} {{tipo|title}})</caption>
                <thead>
                    <tr>
                        <th rowspan="2">Categorias</th>
                        <th colspan="6">{% if tipo == 'mujeres' %}Todas las{% else %}Todos los{% endif %} {{tipo|title}}</th>
                    </tr>
                    <tr>
                        {% for a in opciones %}
                        <th>{{a}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in tabla.items %}
                    <tr>
                        <td>{{key}}</td>
                        {% for k, valor in value.items|slice:"3:4" %}
                        {% for a,b in valor.items %}
                        <td>{{b}}</td>
                        {% endfor %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>   
        </div>
    </div>
</div>
{% endblock %}
